<main id="site-main">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="col-md-2 col-md-offset-4"><img src="<%= user.facebook.photo %>" style="width: 170px; height: 170px;" alt="profile picture" class="img-circle"></div>
                <div class="col-md-2">
                    <p>FIRSTNAME</p>
                    <h4><%= user.facebook.firstname %></h4>
                    <p>LASTNAME</p>
                    <h4><%= user.facebook.lastname %></h4>
                    <p>EMAIL ADDRESS</p>
                    <h4><%= user.facebook.email %></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-8 col-md-offset-2" style="text-align: center">
                    <div class="debt-list">
                        <h2>Orang-orang yang hutang sama saya</h2>
                        <a href="/add" class="btn btn-md btn-warning">Add Debt</a>
                        <table class="table table-bordered" style="margin-top: 20px">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <% for (let i in tagihan){ %>
                              <tbody>
                                  <tr>
                                      <td><%= tagihan[i].pengutang.facebook.firstname %></td>
                                      <td><%= tagihan[i].amount %></th>
                                          <td>
                                            <% if(tagihan[i].status == "belumlunas"){ %>
                                              <form action="/api/lunasi/<%= tagihan[i]._id %>" method="POST">
                                                <input type = "submit" value="Pay" class="btn btn-sm btn-primary">
                                              </form>
                                            <% } else if (tagihan[i].status == "lunas") { %>
                                              <i class = "fa fa-check">Lunas</i>
                                            <% } else if (tagihan[i].status == "requestsent") { %>
                                              <i class = "fa fa-check">Request Sent</i>
                                            <% } %>
                                          </td>
                                  </tr>
                              </tbody>
                            <% } %>

                        </table>
                        <h2>Daftar Orang-orang yang saya hutangi</h2>
                        <table class="table table-bordered" style="margin-top: 20px">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <% for (let i in menagih){ %>
                            <tbody>
                                <tr>
                                    <td>
                                        <%= menagih[i].peminjam.facebook.firstname %>
                                    </td>
                                    <td><%= menagih[i].amount %></td>
                                    <td>
                                      <% if(menagih[i].status == "requestsent"){ %>
                                        <form action="/api/approve/<%= menagih[i]._id %>" method="POST">
                                          <input type = "submit" value="Confirm Payment" class="btn btn-sm btn-primary">
                                        </form>
                                      <% } else if(menagih[i].status =="lunas") { %>
                                        <i class = "fa fa-check">Lunas</i>
                                      <% } else if(menagih[i].status =="belumlunas") { %>
                                        <i class = "fa fa-check">Masih Hutang</i>
                                      <% } %>%>
                                    </td>
                                </tr>
                            </tbody>
                            <% } %>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

    <footer>
        Copyright &copy; 2016
    </footer>
